<header>
<H1>Candy shop</H1>

<div style="background-image:url('/assets/img/sblpfi7086.jpg'); width:100%; height: 150px; background-position:center;">&nbsp;</div>

<menu class="navagitionsbar">
    <a routerLink="/homepage" routherLinkActive="homepage"> Hjem | </a>
    <a routherLink="/kategori" routherLinkActive="kategori"> kategori | </a>
    <a routherLink="/bolcher" routherLinkActive="bolcher">bolcher |</a>
    <a routherLink="/kvug" routherLinkActive="kvug"> kurv </a>   
</menu>
</header>

    